/* Register Section */
.registerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  color: #111828;
}
.registerBody p {
  color: #a1a6af;
  font-size: 14px;
}
.registerForm {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 450px;
  gap: 10px;
}
.registerForm .formGroupRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.registerForm .formGroupRow .inputText {
  display: flex;
  flex-direction: column;
  background-color: #f2f6fc;
  width: 100%;
  color: #b0b8c2;
  border-radius: 10px;
  font-size: 10px;
  padding: 0px 0px 10px 0px;
}
.registerForm .formGroupColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.registerForm .formGroupColumn .inputText {
  display: flex;
  flex-direction: column;
  background-color: #f2f6fc;
  width: 100%;
  color: #b0b8c2;
  border-radius: 10px;
  font-size: 10px;
  padding: 0px 0px 10px 0px;
  pointer-events: none;
}
.registerForm .inputText label {
  margin-top: 5px;
  margin-left: 15px;
}
.registerForm .inputText input {
  margin-left: 15px;
  margin-right: 15px;
  background-color: inherit;
  outline: none;
  border: none;
  color: #111828;
  font-weight: 500;
  pointer-events: auto;
}
.registerForm .inputText .selectText {
  margin-left: 15px;
  margin-right: 15px;
  background-color: inherit;
  outline: none;
  border: none;
  color: #111828;
  font-weight: 500;
  pointer-events: auto;
}

.registerForm .inputButton {
  margin-top: 20px;
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 15px;
  color: white;
  background-color: #1d90f4;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.registerForm .inputButton:hover {
  background-color: #1d90f496;
}
